<div style="display:flex">
	<div style="width:20%">Framesoft-Amendments and Annexes(CNID)</div>
	<div style="width:70%;flex:1">
		<div style="display:flex" *ngFor="let options of group; let i=index">
			<div>
				<h3>{{i+1}}.</h3>
			</div>
			<div style="flex:1">
				<mat-form-field>
					<div>
						<mat-select>
							<mat-option *ngFor="let o of options;" [value]="o.value">
								{{o.name}}
							</mat-option>
						</mat-select>
					</div>
				</mat-form-field>
				<button mat-mini-fab (click)="update(i)">
					<mat-icon>open_in_new</mat-icon>
				</button>
				<button mat-mini-fab (click)="delOptions(i)">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
		<button mat-mini-fab (click)="addOptions()">
			<mat-icon>add_circle</mat-icon>
		</button>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">DMMS Doc ID</div>
	<div style="width:70%;flex:1">
		<div style="display:flex" *ngFor="let options of group1; let i=index">
			<div>
				<h3>{{i+1}}.</h3>
			</div>
			<div style="flex:1">
				<mat-form-field>
					<div>
						<mat-select>
							<mat-option *ngFor="let o of options;" [value]="o.value">
								{{o.name}}
							</mat-option>
						</mat-select>
					</div>
				</mat-form-field>
				<button mat-mini-fab (click)="update1(i)">
					<mat-icon>open_in_new</mat-icon>
				</button>
				<button mat-mini-fab (click)="delOptions1(i)">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
		<button mat-mini-fab (click)="addOptions1()">
			<mat-icon>add_circle</mat-icon>
		</button>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">fsDmmsCduMapping</div>
	<div style="width:70%;flex:1;">
		<table style="width:100%" mat-table class="mat-elevation-z8" [dataSource]="element">
			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef>No.</th>
				<td mat-cell *matCellDef="let element">{{element.position}}</td>
			</ng-container>
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let element">{{element.name}}</td>
			</ng-container>
			<ng-container matColumnDef="weight">
				<th mat-header-cell *matHeaderCellDef>Weight</th>
				<td mat-cell *matCellDef="let element">{{element.weight}}</td>
			</ng-container>
			<ng-container matColumnDef="symbol">
				<th mat-header-cell *matHeaderCellDef>Symbol</th>
				<td mat-cell *matCellDef="let element">{{element.symbol}}</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let myRowData;columns:displayedColumns;"></tr>
		</table>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">DMMS Matched?</div>
	<div style="width:70%;flex:1;">
		<mat-radio-group>
			<mat-radio-button value="1">Yes</mat-radio-button>&nbsp;
			<mat-radio-button value="2">No</mat-radio-button>
		</mat-radio-group>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">FramSoft IP CSID</div>
	<div style="width:70%;flex:1;">
		<div style="display:flex" *ngFor="let options of group2; let i=index">
			<div>
				<h3>{{i+1}}.</h3>
			</div>
			<div style="flex:1">
				<mat-form-field>
					<div>
						<mat-select>
							<mat-option *ngFor="let o of options;" [value]="o.value">
								{{o.name}}
							</mat-option>
						</mat-select>
					</div>
				</mat-form-field>
				<button mat-mini-fab (click)="update2(i)">
					<mat-icon>open_in_new</mat-icon>
				</button>
				<button mat-mini-fab (click)="delOptions2(i)">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
		<button mat-mini-fab (click)="addOptions2()">
			<mat-icon>add_circle</mat-icon>
		</button>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">Algo Collateral IP CSID</div>
	<div style="width:70%;flex:1;">
		<div style="display:flex" *ngFor="let options of group3; let i=index">
			<div>
				<h3>{{i+1}}.</h3>
			</div>
			<div style="flex:1">
				<mat-form-field>
					<div>
						<mat-select>
							<mat-option *ngFor="let o of options;" [value]="o.value">
								{{o.name}}
							</mat-option>
						</mat-select>
					</div>
				</mat-form-field>
				<button mat-mini-fab (click)="update3(i)">
					<mat-icon>open_in_new</mat-icon>
				</button>
				<button mat-mini-fab (click)="delOptions3(i)">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
		<button mat-mini-fab (click)="addOptions3()">
			<mat-icon>add_circle</mat-icon>
		</button>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">fsAlgoCduMapping</div>
	<div style="width:70%;flex:1;">
		<table style="width:100%" mat-table class="mat-elevation-z8" [dataSource]="element2">
			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef>No.</th>
				<td mat-cell *matCellDef="let element2">{{element2.position}}</td>
			</ng-container>
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let element2">{{element2.name}}</td>
			</ng-container>
			<ng-container matColumnDef="symbol">
				<th mat-header-cell *matHeaderCellDef>Symbol</th>
				<td mat-cell *matCellDef="let element2">{{element2.symbol}}</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
			<tr mat-row *matRowDef="let myRowData;columns:displayedColumns2;"></tr>
		</table>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">fsAlgoStatusMatch</div>
	<div style="width:70%;flex:1;">
		<table style="width:100%" mat-table class="mat-elevation-z8" [dataSource]="element3">
			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef>No.</th>
				<td mat-cell *matCellDef="let element3">{{element3.position}}</td>
			</ng-container>
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let element3">{{element3.name}}</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
			<tr mat-row *matRowDef="let myRowData;columns:displayedColumns3;"></tr>
		</table>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">CSID Match?</div>
	<div style="width:70%;flex:1;">
		<mat-radio-group>
			<mat-radio-button value="1">Yes</mat-radio-button>&nbsp;
			<mat-radio-button value="2">No</mat-radio-button>
		</mat-radio-group>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">Status Match?</div>
	<div style="width:70%;flex:1;">
		<mat-radio-group>
			<mat-radio-button value="1">Yes</mat-radio-button>&nbsp;
			<mat-radio-button value="2">No</mat-radio-button>
		</mat-radio-group>
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">CDU Onboarding Complete</div>
	<div style="width:70%;flex:1;">
		{{status}}
	</div>
</div>
<hr />
<div style="display:flex">
	<div style="width:20%">CDU Onboarding Complete Override</div>
	<div style="width:70%;flex:1;">
		<mat-checkbox (change)="changed()"></mat-checkbox>
	</div>
</div>
<hr />

	
